.Home{
    .cafe_wall{
        width: 1900px;
        height: 600px;
        background-image: url('./Home_imgs/cafe-vibe-hooghly-coffee-shops-yql63w3srw.webp');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        overflow: hidden;
    }
}